<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <!-- Este xml lleva el conexto de nuestra aplicación web
       Es el fichero más importante en una aplicación web
       y se usaba siempre hasta la versión 2.5. Desde la versión 3.0
       se puede también usar mediante Annotations (como en Spring)
       Aquí también se utiliza la IoC (inversión de control)
       Los servlets los crea TomCat que va a llevar el cico de vida -->
  
  <display-name>50_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>InputForm.html</welcome-file>
    
    <!-- Solo dejmos un welcome-file -->
    <!--  welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file -->
  </welcome-file-list>
</web-app>