<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">


	<context:component-scan base-package="modelo"></context:component-scan>
	<context:component-scan base-package="vistaFelix"></context:component-scan>
	
	<context:component-scan base-package="entidad"></context:component-scan>  <!-- Para la clase ManejoPeliculas -->
	
	<!--  Third way to inject static Spring EL --> 
	<bean id="scanner" class="java.util.Scanner">
		<constructor-arg value="#{T(java.lang.System).in}"></constructor-arg>
	</bean>
	

	<bean id="listaPeliculas" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="vistaFelix.PeliculaFelix"> 				
			</list>
		</constructor-arg>
	</bean>

	<bean id="listaPeliculasPorGenero" class="java.util.ArrayList" scope="prototype">
		<constructor-arg>
			<list value-type="vistaFelix.PeliculaFelix"> 				
			</list>
		</constructor-arg>
	</bean>



</beans>
